<div class="top-wrap">
<div class="left top-inner">
  <img src="assets/Abc%20Logo.png" class="top-logo" alt="">
  <h2 class="top-text">Abc Shopping</h2>
</div>
<div class="right top-inner">

      <button routerLink="/main" class="btn top-btn"> Home</button>

      <button routerLink="/message" class="btn top-btn"> Contact</button>

      <button routerLink="/admin" class="btn top-btn"> Admin</button>

      <button routerLink="/about" class="btn top-btn"> info</button>

</div>
</div>
<router-outlet></router-outlet>


<div class="bottom-wrap">
  <div class="bottom-left bottom-inner">
    <img src="assets/Abc%20Logo.png" class="bottom-logo" alt="">
    <h2 class="bottom-text">Abc Shopping</h2>
  </div>
  <div class="bottom-right bottom-inner">
      <ul>
        <li>
          <button routerLink="/main" type="button" class="btn bottom-btn"> Home</button>
        </li><li>
        <button routerLink="/message" type="button" class="btn bottom-btn"> Contact Us</button>
      </li><li>
        <button routerLink="/about" type="button" class="btn bottom-btn"> About Us</button>
      </li>
      </ul>
  </div>
</div>
