
<img src="assets/aboutus.png" class="aboutus-img" alt="..." >

<p class="about-1">
  Abc is guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking. Abc strives to be Sri Lanka’s most customer-centric company, Sri Lanka’s best employer, and Sri Lanka’s safest place to work. Customer reviews, 1-Click shopping, personalized recommendations, Prime, Fulfillment by Abc.
</p>
<div class="about-img2">
  <img src="assets/aboutus-bottom.jpg" alt="" class="img2">
</div>
<div class="about-description">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="about-2">
          Abc’s “Day 1” mentality is our approach of doing everything with the energy and entrepreneurial spirit of a new organization on its first day.
        </h3>
      </div>
      <div class="col">
        <p class="about-3">
          Working to earn and keep our customers’ trust is the single biggest driver of Abc’s Day 1 approach. Abc’s decision-making process that asks employees to consider whether an action is a one-way door—consequential and nearly irreversible—or a two-way door, easy to change course and go back. Discover more about who we are through our Annual Letters to Shareholders from 1997 through today.
        </p>
      </div>
    </div>
  </div>
</div>
