.aboutus-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.about-1{
  margin: -5% 5% 5% 5%;
  text-align: justify;
}
.about-img2{
  margin-bottom:-3% ;
}
.img2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.about-description{
  background-color: #7f8fa6;
  padding: 5% 0 2% 0;
}
.about-2{
  color: azure;
}
