<div>
  <div class="item-container">
    <div class="row">
      <div class="col-sm">
        <img src="assets/item-images/I001.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I001'}}">
        <h2>
          JBL Clip 3, Black
        </h2>
      </div>
      <div class="col-sm item-box">
        <img src="assets/item-images/I002.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I002'}}">
        <h2>
          GoPro HERO10 Black
        </h2>
      </div>
      <div class="col-sm">
        <img src="assets/item-images/I003.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I003'}}">
        <h2>
          Sony Alpha a7 IIK
        </h2>
      </div>
      <div class="col-sm">
        <img src="assets/item-images/I004.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I004'}}">
        <h2>
          Tiksounds Wireless Earbuds
        </h2>
      </div>
    </div>
  </div>
  <div class="item-container">
    <div class="row">
      <div class="col-sm">
        <img src="assets/item-images/I005.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I005'}}">
        <h2>
          Amazon Fire TV
        </h2>
      </div>
      <div class="col-sm item-box">
        <img src="assets/item-images/I006.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I006'}}">
        <h2>
          Alienware m15 R4 Gaming Laptop
        </h2>
      </div>
      <div class="col-sm">
        <img src="assets/item-images/I007.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I007'}}">
        <h2>
          ASUS ProArt Display PA247CV 23.8” Monitor
        </h2>
      </div>
      <div class="col-sm">
        <img src="assets/item-images/I008.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I008'}}">
        <h2>
          Bose QuietComfort 45 Headphones
        </h2>
      </div>
    </div>
  </div>
  <div class="item-container">
    <div class="row">
      <div class="col-sm">
        <img src="assets/item-images/I009.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I009'}}">
        <h2>
          MSI Gaming GeForce RTX 3060 12GB
        </h2>
      </div>
      <div class="col-sm item-box">
        <img src="assets/item-images/I010.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I010'}}">
        <h2>
          Echo Dot Smart speaker with Alexa
        </h2>
      </div>
      <div class="col-sm">
        <img src="assets/item-images/I011.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I011'}}">
        <h2>
          TOPOSH 11.6 inch 2 in 1 Laptop Tablet Computer
        </h2>
      </div>
      <div class="col-sm">
        <img src="assets/item-images/I012.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I012'}}">
        <h2>
          SAMSUNG Galaxy Tab S7
        </h2>
      </div>
    </div>
  </div>
  <div class="item-container">
    <div class="row">
      <div class="col-sm">
        <img src="assets/item-images/I013.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I013'}}">
        <h2>
          Apple iPhone 12 Pro Max
        </h2>
      </div>
      <div class="col-sm item-box">
        <img src="assets/item-images/I014.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I014'}}">
        <h2>
          Samsung Electronics (MZ-V8V500B/AM) 980 SSD 500GB
        </h2>
      </div>
      <div class="col-sm">
        <img src="assets/item-images/I015.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I015'}}">
        <h2>
          AMD Ryzen 5 5600G 6-Core 12-Thread
        </h2>
      </div>
      <div class="col-sm">
        <img src="assets/item-images/I016.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I016'}}">
        <h2>
          MSI B550M PRO-VDH WiFi ProSeries Motherboard
        </h2>
      </div>
    </div>
  </div>
  <div class="item-container">
    <div class="row">
      <div class="col-sm">
        <img src="assets/item-images/I017.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I017'}}">
        <h2>
          Roku Streaming Stick+
        </h2>
      </div>
      <div class="col-sm item-box">
        <img src="assets/item-images/I018.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I018'}}">
        <h2>
          Yootech Wireless Charger,Qi-Certified 10W Max Fast Wireless Charging Pad
        </h2>
      </div>
      <div class="col-sm">
        <img src="assets/item-images/I019.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I019'}}">
        <h2>
          WAVLINK AC2100 WiFi Router
        </h2>
      </div>
      <div class="col-sm">
        <img src="assets/item-images/I020.jpg" alt="" class="item-img-main" routerLink="/main/itm1/{{'I020'}}">
        <h2>
          Security Camera 2K, blurams Baby Monitor Dog Camera 360
        </h2>
      </div>
    </div>
  </div>
</div>
