.heading{
  padding: 3% 0 0 5%;
}
.tbl-main-admin{
  margin: 0 10% 3% 10%;
  background-color: #7f8fa6;
}
.bottom-home-btn{
  padding: 0 10% 5% 10%;
}
.activated-route{
  background-color: #2f3640;
}
